@import "colors";
@import "background-colors";
@import "border-colors";
@import "background-images";


@import "type-scale";
@import "typography";
@import "layout";
@import "align";
@import "margin";
@import "padding";
@import "grid";
@import "flexbox";
@import "position";
@import "border";

@import "responsive-margin";
@import "responsive-typo-scale";
@import "responsive-padding";

@import "hide";

* {
  margin:0;
  padding: 0;
  position: relative;
}

.vert-logo {
  transform: rotate(90deg);
}