!!!
%html.no-js.bg-black{:lang => ""}
  %head  
    -# Page title
    %title 🌊 Atlantic.Studio
    
    
    -#Viewport + encoding
    %meta#viewport{:content => "width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1", :name => "viewport"}
    %meta(charset="utf-8")
    %meta{:content => "!", :name => "fragment"}
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}

    -#Standard search meta
    %meta(content="Atlantic.Studio- strong as one" name="description")


    -#Favicon + Appletouch Icons
    %link(href="/favicon.ico" rel="icon")
    %link(href="/apple-touch-icon.ico" rel="apple-touch-icon")

    -#Facebook + Open Graph
    %meta(content="Atlantic.Studio" property = "og:title")
    %meta(content="website" property = "og:type")
    %meta(content="Atlantic.Studio" property = "og:site_name")
    %meta(content="http://atlantic.studio/" property = "og:url")
    %meta(content="Atlantic.Studio- strong as one" name="description" property = "og:description")
    %meta(content="http://atlantic.studio/og-image.png" property = "og:image")

    -#Twitter Card
    -#%meta{:content => "summary_large_image", :name => "twitter:card"}
    -#%meta{:content => "@lukesberad", :name => "twitter:site"}
    -#%meta{:content => "@lukesberad", :name => "twitter:creator"}
    -#%meta{:content => "Atlantic.Studio - The collective works of Luke Beard", :name => "twitter:title"}
    -#%meta{:content => "http://atlantic.studio/og-image.png", :name => "twitter:image"}
    
    -#CSS
    %link{:href => "/css/basscss.css", :rel => "stylesheet"}

 
  %body.bg-black.relative.wrapper
    %div.border
    %div.white.leaf.bg-cover.h-full.flex.items-center.center.col-12.relative
      
      %div.absolute.top-0.left-0.col-12.mt4
        %img.col-6.sm-col-2.mx-auto{src:"/img/altantic.studios-logo.svg"}

      %div.absolute.bottom-0.left-0.col-12.mb4
        %img.mx-auto{src:"/img/a-s-wordmark.svg",style:"max-width:70px;"}
        %h6.h7.caps.bold.sans-serif.mt3
          San Francisco, Califorina
      
      %div.col-12.center.relative.z4
        %a.h1.h1-responsive.serif.no-underline.white{href:"mailto:workwith@atlantic.studio"} 
          workwith@atlantic.studio
